<a href="https://colab.research.google.com/github/Subhajitsdev/AI_Summer_school/blob/main/Copy_of_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

- Data Structures are data storing formats
- Each format would ease the access of data in a particular case
- We will cover lists, tuples, sets and dictionaries

# Lists

  - An ordered data structure with elements separated by a comma and enclosed within square brackets

In [ ]:
# Defining a list
lst = [1, 2, "hello", "world", True]
lst

[1, 2, 'hello', 'world', True]

In [ ]:
# Accessing individual elements of a list
print(lst[0], lst[2])

1 hello

In [ ]:
# Length of the list
len(lst)

5

In [ ]:
# Adding elements to the list
lst.append("hi")
lst.append("bye")
lst

[1, 2, 'hello', 'world', True, 'hi', 'bye']

In [ ]:
# Creating list of number using for loop
new_lst = []
for i in range(20):
  new_lst.append(i)
new_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Creating list of numbers using range
new_lst = list(range(20))
new_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Creating list of characters in a string using loop
new_lst = []
word = "hello"
for i in range(len(word)):
  new_lst.append(word[i])
new_lst

['h', 'e', 'l', 'l', 'o']

In [ ]:
# Creating list of characters in a string
new_lst = list("hello")
new_lst

['h', 'e', 'l', 'l', 'o']

In [ ]:
# Negative indexing in lists
lst = [1, 2, 3, 4, 5]
print(lst[-1], lst[-2])

5 4

In [ ]:
# Slicing in lists
lst = [1, 2, 3, 4, 5, 6, 7]
print(lst[2:4])
print(lst[2:])
print(lst[:4])
print(lst[-4:-2])
print(lst[-4:])
print(lst[:-2])
print(lst == lst[:])

[3, 4]
[3, 4, 5, 6, 7]
[1, 2, 3, 4]
[4, 5]
[4, 5, 6, 7]
[1, 2, 3, 4, 5]
True

In [ ]:
# Removing an element in the list
lst = [1, 2, 3, 2, 1]
lst.remove(2)
lst

[1, 3, 2, 1]

# Tuples
- An ordered data structure with elements separated by a comma and enclosed within parenthesis
- Tuples are immutable (i.e. their value cant be changed)
- All the methods of list apply here except for anything that changes value of the tuple (immutable)

In [ ]:
# Defining a tuple
tup = (1, 2, 3, 4, 5)
tup

(1, 2, 3, 4, 5)

In [ ]:
# Changing the value of the tuple at an index
tup[2] = 8

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Example definition that is wont turn out to be a tuple
tup = (4)
print(tup, type(tup))
lst = [4]
print(lst, type(lst))

4 <class 'int'>
[4] <class 'list'>

# Sets
- An ordered data structure with elements separated by a comma and enclosed within curly brackets
- Sets are always sorted

In [ ]:
# A numerical set
s = {5, 3, 7, 2, 10}
s

{2, 3, 5, 7, 10}

In [ ]:
# A word set
s = {"cherry", "apple", "banana"}
s

{'apple', 'banana', 'cherry'}

In [ ]:
# Set intersection, union and difference

sample_set_1 = {1, 2, 3, 4, 5, 6, 7}
sample_set_2 = {1, 2, 3, 4, 5, 8}


print("The sets: ", sample_set_1, sample_set_2)
print("Intersection: ", sample_set_1 & sample_set_2)
print("Union: ", sample_set_1 | sample_set_2)
print("Difference: ", sample_set_1 - sample_set_2)

The sets:  {1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5, 8}
Intersection:  {1, 2, 3, 4, 5}
Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Difference:  {6, 7}

# Dictionary
- A Dictionary is collection of key-value pairs
- Keys of a dictionary are unique but values can have duplicates

In [ ]:
# Defining a dict
shop = {"pen": 5,
        "pencil": 3,
        "book": 10,
        "sharpener": 3}
shop

{'pen': 5, 'pencil': 3, 'book': 10, 'sharpener': 3}

In [ ]:
# Accessing an element
print(f"Price of the pen is", shop["pen"], "rupees")

Price of the pen is 5 rupees

In [ ]:
# Adding an element
shop["eraser"] = 2
shop

{'pen': 5, 'pencil': 3, 'book': 10, 'sharpener': 3, 'eraser': 2}

In [ ]:
# Removing an element
shop.pop("pencil")
shop

{'pen': 5, 'book': 10, 'sharpener': 3, 'eraser': 2}

In [ ]:
# Getting the keys of the dictionary
shop_keys = shop.keys()
shop_keys

dict_keys(['pen', 'book', 'sharpener', 'eraser'])

In [ ]:
# Getting the values of the dictionary
shop_values = shop.values()
shop_values

dict_values([5, 10, 3, 2])

# Classes and Objects Game

## In this example we will build a game with animal super class, a dog class and a cat class inheriting from the animal class.

## Here two animals apply their attack subsequently and we will determine the winner.

In [4]:
# init method of the super class

class Animal:
    def __init__(self, name, level, life):
        self.name = name
        self.level = level
        self.life = life

    def attack(self):
      pass

animal_dog = Animal(name="spiky", level=4, life=25)

print(animal_dog.name, animal_dog.level)

spiky 4

# Now we will build specific classes for different types of animals like cat and dog

In [5]:
class Dog(Animal):
    def __init__(self, name, level, life):
        super().__init__(name, level, life)


dog = Dog(name="spiky", level=5, life=25)

print(dog.name, dog.level)

spiky 5

# Building attack method for dog

In [6]:
class Dog(Animal):
    def __init__(self, name, level, life):
        super().__init__(name, level, life)

    def attack(self, attack_type):
        if attack_type == "basic attack":
          damage = 2
        elif attack_type == "signature":
          damage = 5
        elif attack_type == "finisher":
          damage = 10

        return damage

dog = Dog(name="spiky", level=5, life=25)

dog.attack("finisher")

10

# Similarly we do for cat

In [7]:
class Cat(Animal):
    def __init__(self, name, level, life):
        super().__init__(name, level, life)

    def attack(self, attack_type):
        if attack_type == "basic attack":
          damage = 1
        elif attack_type == "signature":
          damage = 4
        elif attack_type == "finisher":
          damage = 9

        return damage

cat = Cat(name="whisker", level=4, life=25)

cat.attack("finisher")

9

# Now lets build the game

In [8]:
import random

def game(animal_1, animal_2):
  print(f"The game has started. The animals battling are {animal_1.name} vs. {animal_2.name}")
  print()
  print()
  print(f"First come first serve.")
  print()
  print()
  animal_1_play = True

  while animal_1.life > 0 and animal_2.life > 0:

    if animal_1_play:
      attack_type = random.choice(["basic attack", "signature", "finisher"])
      animal_2.life -= animal_1.attack(attack_type)
      print(f"{animal_1.name} is attacking with its {attack_type}")
      print()
      animal_1_play = False

    else:
      attack_type = random.choice(["basic attack", "signature", "finisher"])
      animal_1.life -= animal_2.attack(attack_type)
      print(f"{animal_2.name} is attacking with its {attack_type}")
      print()
      animal_1_play = True

    print(f"Current life: {animal_1.name} has life {animal_1.life}, {animal_2.name} has life {animal_2.life}")
    print()
    print()

  if animal_1.life > 0:
    print(f"The winner is {animal_1.name}")
  else:
    print(f"The winner is {animal_2.name}")

In [11]:
dog = Dog(name="spiky", level=5, life=15)
cat = Cat(name="whisker", level=4, life=15)
game(dog, cat)

The game has started. The animals battling are spiky vs. whisker


First come first serve.


spiky is attacking with its basic attack

Current life: spiky has life 15, whisker has life 13


whisker is attacking with its signature

Current life: spiky has life 11, whisker has life 13


spiky is attacking with its finisher

Current life: spiky has life 11, whisker has life 3


whisker is attacking with its basic attack

Current life: spiky has life 10, whisker has life 3


spiky is attacking with its finisher

Current life: spiky has life 10, whisker has life -7


The winner is spiky